BeeWiCar.Universal/BeeWiCar.Universal.WindowsPhone/obj/
BeeWiCar.Universal/BeeWiCar.Universal.Windows/obj/
BeeWiCar.sln.DotSettings
BeeWiCar.Universal/BeeWiCar.Universal.Windows/bin/
BeeWiCar.Universal/BeeWiCar.Universal.WindowsPhone/bin/
